@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
  }
}

@layer components {
  .nav-link {
    @apply transition-all duration-[400ms] ease-in-out hover:scale-105 sm:hidden;
  }

  .input-lg {
    @apply px-1;
  }
}
